$background: #F9F9F9;
$main: #2E86C1;
$mainHover: #2874a6;
$secondary: #F4D03F;
$primaryText: #333333;
$secondaryText: #7F8C8D;
$error: #E74C3C;
$errorHover: #cd4335;
$success: #27AE60;
$border: #D0D3D4;
$radius: 1rem;
$smallRadius: .5rem;